.root{
    -fx-smooth: true;
    -fx-background-repeat: stretch;
    -fx-background-position: center;

}

.fon{
    -fx-image: url("/images/trace.jpg");
    -fx-background-image: url("/images/trace.jpg");
}

.police{
    -fx-image: url("/images/barrier.png");
    -fx-background-image: url("/images/barrier.png");
}